/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
    padding: 10px;
    margin-bottom: 10px;
    border: solid 1px #888;
    background-color: #DDD8C4;
  }

#Lab-14-L6-html {
  width: 1000px;
}

#Lab-14-L6-CSS {
  width: 1000px;
}

#Lab-14-L6-output {
  width: 1000px;
}

#Lab-14-L10-JS {
  width: 1000px;
}

#Lab-14-L10-output {
  width: 1000px;
}

#Lab-14-L12-CSS {
  width: 1000px;
}

#Lab-14-L12-JS {
  width: 1000px;
}

#Lab-14-L12-output {
  width: 1000px;
}